general:
  debug: truese
  interval: 5

hosts:
  - name: MyLocalHost
    remote_ipmi_credentials:
    	host: 192.168.2.3
	username: root
	password: calvin

    hysteresis: 3
    temperatures:
      - 50
      - 60
      - 70
      - 80
    speeds:
      - 5
      - 6
      - 7
      - 20

  #- name: MyRemoteHost
  #  remote_temperature_command: ssh myuser@myhost 'sysctl -a | grep -E "cpu\.[0-9]+\.temp" | grep -E -o "[0-9]+\.[0-9]+"' # must return a newline-delimited list of floats
  #  remote_ipmi_credentials:
  #    host: some.idrac.domain
  #    username: idrac-user
  #    password: idrac-password
  #  hysteresis: 0
  #  temperatures:
  #    - 50
  #    - 60
  #    - 70
  #  speeds:
  #    - 9
  #    - 10
  #    - 15
